---
permalink: /
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        {% if site.favicon_img %}
        <link rel="shortcut icon" href="{{ site.favicon_img_path }}" />
        {% endif %}
        <link rel="stylesheet" href="{{ "/css/front.css" | prepend: site.baseurl }}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="content">
            {% if site.front_img %}
            <img src="{{ site.front_img_path }}" id="fullscreen">
            {% endif %}

            {% if site.avatar %}
                <img src="{{ site.avatar_img_path }}" id="avatar">
            {% endif %}

            <h1>{{ site.name }}</h1>
            <h3>{{ site.description }}</h3>

                <ul>
                    {% if site.cv_username %} <!-- cv online -->
                    <li><a class="fa fa-5x fa-info" href="https://lostagex.github.io/{{ site.cv_username }}"><span class="description">CV_Online</span></a></li>
                    {% endif %}

                    {% if site.pub_list %} <!-- Publications--> 
                    <li><a class="fa fa-5x fa-file-powerpoint-o" href="https://lostagex.github.io/{{ site.pub_list }}"><span class="description">Publications</span></a></li>
                    {% endif %}

                    {% if site.project_list %} <!-- Projects-->
                    <li><a class="fa fa-5x fa-cog fa-spin" href="https://lostagex.github.io/{{ site.project_list }}"><span class="description">Projects</span></a></li>
                    {% endif %}
					
                    {% if site.blog%} <!-- blog-->
                    <li><a class="fa fa-5x fa-hourglass-3" href="https://lostagex.github.io/{{ site.blog}}"><span class="description">Blog</span></a></li>
                    {% endif %}

                    {% if site.others %}  <!-- Others -->
                    <li><a class="fa fa-5x fa-archive" href="https://lostagex.github.io/{{ site.others }}"><span class="description">Others</span></a></li>
                    {% endif %}

                </ul>
        </div>

    </body>
</html>


